<div class="footer">
  <div class="footer-links">
    <a href="https://fr.linkedin.com/company/embarq.fr"><i class="fa fa-linkedin"></i></a>
    <a href="https://twitter.com/Embarq_FR"><i class="fa fa-twitter"></i></a>
  </div>
  <div>
  <%= link_to "Contactez-nous", "contact.html" %> | <%=link_to "Mentions légales", "legal.html" %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> in Paris
  </div>
</div>
