<div class="footer">
  <div class="footer-links">
    <a href="https://fr.linkedin.com/company/embarq.fr"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div>
  <%= link_to "Contactez-nous" %> | <%=link_to "Mentions légales" %>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> in Paris
  </div>
</div>
