.avantages{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: image-url("avantages.jpg");
  text-align: center;
  background-size: cover !important;
  height: 400px;

  mark{
    background: white;
    color: #333333;
    font-size: 23px;
    padding: 25px 80px;
  }
}
