.btn-embarq {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 15px;
  background: rgba(0,186,242,1);
  transition: background 0.3s ease;
  // opacity: 0.8;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
    &:hover {
      background: rgba(0,169,230,1);
      text-decoration: none;
      color: white;
    }
}
