
  /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 70%;
  height: 310px;
}

/* flip speed goes here */
.flipper {
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 0px 12px 0px rgba(148,148,148,0.4);
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 30px 30px;
  // position: relative;
  // left: 0;
  // top: 0;
  border-top: 10px solid #4eb1ce;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  position: relative;

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.content-card{
  position: absolute;
  top: 20px;
  left: 50px;
}

.logo-card{
  height: 180px;
  width: 180px;
  position: absolute;
  left: 110px;
  bottom: 10px;
}
