#wrapper{
  overflow: hidden;
}

.flip-posts{
  overflow: hidden;
  padding: 30px 0;
  position: relative;
}

.flip-posts .post{
  margin-bottom: 50px;
}

.flip-posts h2{
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.2;
}

.card-post {
  margin: 0 auto;
  width: 90%;
  height: 300px;
  perspective: 800px;
  text-align: center;
  cursor: pointer;
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;

}

.content-frame{
  width: 75%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  line-height: 300px;
  text-align: center;
  padding: 10px;
  background: white;
  border-top: 10px solid #4eb1ce;
  border-radius: 10px;
   box-shadow: 2px 0px 12px 0px rgba(148,148,148,0.4);
   transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
}

.back {
  background: white;
  color: black;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.front {
  background: white;
  color: black;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
.card-post:hover .front {
  transform: rotateY( -180deg);
  -webkit-transform: rotateY( -180deg);
}
.card-post:hover .back {
  transform: rotateY( 0deg);
  -webkit-transform: rotateY( 0deg);
}
.ico-holder{
  overflow: hidden;
  text-align: center;
  line-height: normal;
}

.flip-list{
  overflow: hidden;
  padding:0;
  margin: 0 auto;
  list-style: none;
  font-size: 1rem;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
}

.flip-list li{
  display: block;
  position: relative;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 20px;
}

.flip-list li:after{
  content:"\f105";
  font-family:'FontAwesome';
  font-size: 20px;
  line-height: 18px;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 6px;
  left: 0;
  color: #4cb0cd;
}

@media (min-width: 768px) {

  .flip-posts h2{
    margin-bottom: 25px;
    font-size: 1.2rem;
  }

}

@media (min-width: 1200px) {

  .flip-list{
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
