.navbar {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 10px 10px rgba(0,0,0,0.06);
  padding: 10px 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  li > a {
    color: $blue-dark;
  }
  .btn {
    color: #fff;
    &:hover, &:active, &:focus {
      color: #fff;
      background-color: #cf1445;
      border-color: #af103b;
    }
    @media (max-width: 768px) {
      margin: 0 10px;
    }
  }
}

.navbar-brand {
  padding: 0 0 0 10px;
}
.navbar-toggle {

  .icon-bar {
    background:$color-brand;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  &.active {
    .icon-bar:nth-child(odd) {
      transform: rotate(45deg);
    }
    .icon-bar:nth-child(even) {
      transform: rotate(-45deg) translate(-4px, 4px);
    }
    .icon-bar:last-child {
      display: none;
    }
  }
}

