.brands{
  text-align: center;
  padding: 25px 0px;
  // margin: 0px 15px;
  padding: 30px;
}

.img{
  opacity: 0.6;
  filter: grayscale(100%);
  vertical-align: center;
  &:hover {
    opacity: 1;
    filter: grayscale(0%);
    transition: all 0.5s ease;
  }
}


