#contact{
  .wrapper-contact {
    position: relative;
    z-index: 99999;
    background:rgba(255,255,255,0.7);
  }

  // .coordonne-contact{
  //   position: absolute;
  //   top: 50px;
  //   left: 50px;

  // }
  .fa-map-marker{
    color: #48a8e1;
    margin-right: 10px;
    font-size: 25px;
  }
  .fa-mobile{
    color: #48a8e1;
    margin-right: 10px;
    font-size: 30px;
  }
  .fa-envelope-o{
    color: #48a8e1;
    margin-right: 10px;
    font-size: 20px;
  }
  .social-links{
    margin-top: 25px;
  }
  .social-links a{
    color: #48a8e1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
}

