#schema {
  height: 100%;
  width: 100%;
  vertical-align: center;
  margin-top: 15px;
}

mark {
    color: white;
    background-color: #292929;
    padding: 10px;
}

.fa-shield {
  color: #48a8e1;
}
.fa-clock-o{
  color: #48a8e1;
}

.fa-lock{
  color: #48a8e1;
}

.fa-rocket{
  color: #48a8e1;
}

// misc

.home__illustration-wrap {
  padding-top: 230px;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 0;
  }
  .home__illustration-1 {
    position: absolute;
    top: 70px;
    height: 100px;
    @media (max-width: 768px) {
      position: static;
      height: 50px;
      margin-bottom: 10px;
    }
  }
  .home__illustration-2 {
    position: absolute;
    top: 70px;
    height: 100px;
    @media (max-width: 768px) {
      position: static;
      height: 50px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  .home__illustration-3 {
    position: absolute;
    top: 0;
    height: 170px ;
    @media (max-width: 768px) {
      position: static;
      height: 90px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
}
.home__icon-wrap {
  padding-top: 130px;
  position: relative;
  .home__icon-1 {
    position: absolute;
    top: 0px;
    height: 90px;
  }
  .home__icon-2 {
    position: absolute;
    top: 10px;
    height: 73px;
  }
  .home__icon-3 {
    position: absolute;
    top: 30px;
    height: 60px;
  }
  .home__icon-4 {
    position: absolute;
    top: 35px;
    height: 60px;
  }
}
