#schema {
  height: 100%;
  width: 100%;
  vertical-align: center;
  margin-top: 15px;
}

mark {
    color: white;
    background-color: #292929;
    padding: 10px;
}

.fa-shield {
  color: #48a8e1;
}
.fa-clock-o{
  color: #48a8e1;
}

.fa-lock{
  color: #48a8e1;
}

.fa-rocket{
  color: #48a8e1;
}
