#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

#schema {
  height: 100%;
  width: 100%;
  vertical-align: center;
}

#avantages {
  height: 100%;
  width: 100%;
  vertical-align: center;
}

mark {
    color: white;
    background-color: #292929;
    padding: 10px;
}
