$brand-color: #EB2B5E;
$color-brand: $brand-color;
$red: #EE5F5B;
$blue-dark: #58768F;


$pink : #E00069;
$purple: #5F288F;
$turquoise: #00A297;


$bebas-bold: "Bebas Bold";
$bebas-book: "Bebas Book";
$bebas-regular: "Bebas Regular";
$bebas-light: "Bebas Light";
