<div id="contact">
  <div class="wrapper-grey">
    <div class="container padded">
      <h2 class="text-center">Contactez-nous</h2>
      <h5 class="text-center">Vous souhaitez plus d'informations sur nos services ou venir boire un café ? <br>On vous répond dans l'heure !</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="contact-form">
            <form action="#">
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="prenom" placeholder="Bob">
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="nom" placeholder="Sponge">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="bob@gmail.com">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="06 54 78 97 43">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="ville" placeholder="Paris">
              </div>
              <div class="category-choices">
                <div class="form-check form-check-inline">
                  <input class="hidden" type="checkbox" id="inlineCheckbox1" value="portage">
                  <label class="form-check-label category-choice" for="inlineCheckbox1">Portage</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="hidden" type="checkbox" id="inlineCheckbox2" value="Simulation">
                  <label class="form-check-label category-choice" for="inlineCheckbox2">Simulation</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="hidden" type="checkbox" id="inlineCheckbox3" value="Mission">
                  <label class="form-check-label category-choice" for="inlineCheckbox3">Mission</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="hidden" type="checkbox" id="inlineCheckbox3" value="Conseil">
                  <label class="form-check-label category-choice" for="inlineCheckbox3">Conseil</label>
                </div>
              </div>
              <input type="submit" value="ENVOYER" class="btn-embarq">


            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
