<div id="entreprise">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Entreprise</h2>
      <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae.</h5>
      <div id="wrapper">
          <div class="flip-posts">
              <div class="row">
                  <div class="col-sm-5 post offset-md-1">
                      <div class="card-post">
                          <div class="content">
                              <div class="front">
                                  <div class="content-frame">
                                      <h4>OPTIMISER LE COÛT DE LA GESTION DE VOS PROJETS</h4>
                                      <div class="ico-holder">
                                          <img src="images/calculator.png" alt="image description">
                                      </div>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="content-frame">
                                      <ul class="flip-list">
                                          <li>Coût attractif (coefficient de facturation en portage de 1,6)</li>
                                          <li>Facturation à la journée</li>
                                          <li>Flexibilité du consultant</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-5 post">
                      <div class="card-post">
                          <div class="content">
                              <div class="front">
                                  <div class="content-frame">
                                      <h4>SIMPLIFIER LE RECRUTEMENT ET L’EMBAUCHE</h4>
                                      <div class="ico-holder">
                                          <img src="images/chat.png" alt="image description">
                                      </div>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="content-frame">
                                      <ul class="flip-list">
                                          <li>Pas de gestion administrative</li>
                                          <li>Rapidité de mise en oeuvre : 24 à 48H</li>
                                          <li>Possibilité de recrutement</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-5 post offset-md-1">
                      <div class="card-post">
                          <div class="content">
                              <div class="front">
                                  <div class="content-frame">
                                      <h4>SECURISER VOTRE ACTIVITE</h4>
                                      <div class="ico-holder">
                                          <img src="images/lockedpadlockoutline.png" alt="image description">
                                      </div>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="content-frame">
                                      <ul class="flip-list">
                                          <li>Pas d’incidence sur la masse salariale</li>
                                          <li>Pas d’incidence sur les seuils sociaux</li>
                                          <li>Réduction des risques de requalification</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-5 post">
                      <div class="card-post">
                          <div class="content">
                              <div class="front">
                                  <div class="content-frame">
                                      <h4>INTEGRER DES COMPETENCES UNIQUES</h4>
                                      <div class="ico-holder">
                                          <img src="images/multiskillsemployee.png" alt="image description">
                                      </div>
                                  </div>
                              </div>
                              <div class="back">
                                  <div class="content-frame">
                                      <ul class="flip-list">
                                          <li>Profil de qualité et expérimenté</li>
                                          <li>Un consultant freelance engage sa réputation</li>
                                          <li>Ouverture à un nouveau réseau</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
