<div id="entreprise">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Entreprise</h2>
      <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae.</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <h5>Coucou</h5>
              </div>
              <div class="back">
                <h5>Hello</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <h5>Coucou</h5>
              </div>
              <div class="back">
                <h5>Hello</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <h4 class="content-card">Des avantages sociaux</h4>
                  <div>
                    <%= image_tag "chat.png", class: "logo-card"%>
                  </div>
              </div>
              <div class="back">
                <h4>Pas d’incidence sur la masse salariale</h4>
                <h4>Pas d’incidence sur la masse salariale</h4>
                <h4>Pas d’incidence sur la masse salariale</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <h5>Coucou</h5>
              </div>
              <div class="back">
                <h5>Hello</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
