<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1>Devenez indépendant avec les avantages du salarié</h1>
    </div>
  </div>
</div>

<div class="wrapper-white padded" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Le portage salarial en quelques mots</h3>
        <p>Le portage salarial permet de concilier <b>les avantages de l'indépendance et du salariat.</b>
  <br><br>
  <b>Le freelance porté</b> fixe son tarif, négocie avec son client et assure la prestation.
  <br><br>
  Embarq prend en charge toute <b>la gestion administrative</b> et reverse une rémunération au freelance sous forme de salaire.
  <br><br>
  Le client final lui ne reçoit qu'une seule facture.</p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <%= image_tag "schema.jpg", id: "schema"%>
      </div>

    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container text-center features">
    <h2>Nos avantages</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="images/globe.png" alt="">
        <h3>Protection sociale</h3>
        <p>En étant porté, vous êtes rattaché au régime général et bénéficiez d'une solide protection sociale et d'une mutuelle santé et prévoyance</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="images/dollar.png" alt="">
        <h3>Rapidité</h3>
        <p>Devenez indépendant en 24h sans démarche administrative.</p>
      </div>
      </div>
      <div class="row"></div>
      <div class="col-xs-12 col-sm-6">
        <img src="images/beer.png" alt="">
        <h3>Logiciel de gestion</h3>
        <p>Vous avez accès à une plateforme digitale consacrée à la gestion de votre activité et un account manager dédié</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="images/heart.png" alt="">
        <h3>Accompagnement</h3>
        <p>Nous vous mettons à disposition un ensemble d'outils vous permettant de développer votre activité et trouver de nouveaux clients (cartes de visites, site vitrine, offres de missions...)</p>
      </div>

  </div>
</div>

