<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1>Devenez indépendant avec les avantages du salarié</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">

    </div>


    <div class="col-xs-12 col-sm-4">
    </div>

  </div>
</div>

<div class="container text-center padded features">
  <h2>Nos avantages</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/globe.png" alt="">
      <h2>Protection sociale</h2>
      <p>En étant porté, vous êtes rattaché au régime général et bénéficiez d'une solide protection sociale et d'une mutuelle santé et prévoyance</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/dollar.png" alt="">
      <h2>Rapidité</h2>
      <p>Devenez indépendant en 24h sans démarche administrative.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/beer.png" alt="">
      <h2>Logiciel de gestion</h2>
      <p>Vous avez accès à une plateforme digitale consacrée à la gestion de votre activité et un account manager dédié</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/heart.png" alt="">
      <h2>Accompagnement</h2>
      <p>Nous vous mettons à disposition un ensemble d'outils vous permettant de développer votre activité et trouver de nouveaux clients (cartes de visites, site vitrine, offres de missions...)</p>
    </div>
  </div>
</div>

