
<div id="consultant">
  <div class="wrapper-white">
    <div class="container padded">
    <h2 class="text-center padd">Mentions légales</h2>
    <h3 class="padded-top">Présentation du site</h3>

    <p>Le site <a href="www.embarq.fr">www.embarq.fr</a> est édité par la société EMBARQ Société par actions simplifiée au capital de 10 000 euros.</p>

    <p>Adresse du siège social : 3 rue de la Boule Rouge 75009 Paris
    <br>
    Téléphone : 09 86 46 91 96
    <br>
    Email : <a href="mailto:contact@embarq.fr">contact@embarq.fr</a>
    <br>
    RCS : Paris
    <br>
    SIRET : 83217051800019
    <br>
    Code APE : 8299Z Autres activités de soutien aux entreprises n.c.a.
    <br>
    N° TVA : FR 55 815 226 782</p>

    <p>Le directeur de la publication est Clément Escande en sa qualité de Président de Embarq SAS.</p>
    <p>Le site est hébergé par Github Pages – 88 Colin P Kelly Junior Street, San Francisco, CA 94107, United States</p>

    <h3>Données personnelles</h3>
    <p>Conformément à l’article 34 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données nominatives vous concernant. Vous pouvez exercer ce droit par e-mail à : <a href="mailto:contact@embarq.fr">contact@embarq.fr</a>.</p>

    <h3>Description des services fournis</h3>
   <p> Le site www.embarq.fr a pour but de fournir une information concernant l’ensemble des services de la société. Le proprietaire du site s’efforce de fournir sur le site <a href="www.embarq.fr">www.embarq.fr</a> des informations aussi précises que possible.</p>
   <p>Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Tous les informations proposées sur le site www.embarq.fr sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

    <h3>Propriété intellectuelle et contrefaçons</h3>
    <p>Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels…
    Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l'email : <a href="mailto:contact@embarq.fr">contact@embarq.fr</a>.</p>
    <p>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<p>
    <h3>Liens hypertextes et cookies</h3>
    <p>Le site <a href="www.embarq.fr">www.embarq.fr</a> contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …) mis en place avec l’autorisation de le proprietaire du site. Cependant, le proprietaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.</p>

    </div>
  </div>
</div>
