
<div class="wrapper-white">
  <div class="container padded text-center">
    <h3>Notre mission</h3>
    <h4>La volonté d'EMBARQ est de promouvoir les freelances et de leur faciliter la gestion de leur activité pour qu'ils se concentrent sur l'essentiel, leur business!
    <br>
  EMBARQ est une société dont l'ambition principale est de véhiculer les valeurs défendues par ses co-fondateurs: l'éthique, la bienveillance et le sens du service.</h4>

  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <h3 class="text-center">Les 5 raisons de travailler avec Embarq</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col-xs-12 col-sm-6 col-md-4"></div>
    </div>

  </div>
</div>
