
<div id="portage">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Notre mission</h2>
      <h5 class="text-center">Démocratisez une nouvelle façon de travailler.</h5>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-6">
           <h4><strong>Embarq : accélérateur d'indépendance</strong></h4>
           <h4>Notre volonté est de faciliter l'accès au statut d'indépendant en accompagnant chaque consultant/freelance dans le lancement et le développement de son activité.</h4>
         <h4>EMBARQ est une société de portage salarial dont
         <br> l'ambition principale est de véhiculer les valeurs
         <br> défendues par ses co-fondateurs: l'éthique, la <br>bienveillance et le sens du service.</h4>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4><strong>La co-construction au coeur de notre démarche</strong></h4>
          <h4>
          Chez Embarq on a fait le choix d'innover sur l'expérience client par la co-construction. Nous incluons tous nos consultants dans le développement de nos services pour créer une société de portage salarial communautaire et bienveillante.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-portage">
    <div class="container padded">
      <div class="encart-titre">
        <h3 class="text-center">Vous avez dit portage salarial ?</h3>
      </div>
      <h6 class="text-center">Le portage salarial est une nouvelle forme d'emploi encadrée par le code du travail, qui permet d'être indépendant avec le statut du salarié.</h6>
      <div class="col-xs-12 col-md-6">
        <div class="card-why">
          <%= image_tag "rocket.png", class: "card-why-logo"%>

        <h4>Vous êtes consultant ?</h4>
        <p>Vous êtes consultant, concentrez vous sur l'essentiel, votre business et nous nous occupons du reste.</p>
        <div class="text-center">
        <%= link_to "Je suis consultant", "consultant.html", class: "btn-consultant" %>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card-why">
          <%= image_tag "building.png", class: "card-why-logo"%>
          <h4>Vous êtes une entreprise ?</h4>
          <p>Vous êtes une entreprise, adaptez facilement vos effectifs à vos besoins. Le portage salarial vous permet de simplifier vos recrutements et de vous recentrer sur votre activité principale.</p>
          <div class="text-center">
          <%= link_to "Je suis une entreprise", "entreprise.html", class: "btn-consultant" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-grey padded">
    <div class="container">
      <h3 class="text-center">Les 5 raisons de travailler avec Embarq</h2>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-calendar" aria-hidden="true"></i> Gagnez du temps
          <p>Grâce au portage salarial, vous n'avez pas besoin de créer votre structure, vous pouvez démarrer votre activité tout de suite et vous concentrer sur l'essentiel. Nous nous occupons de toute la gestion administrative (contrat de prestation, facturation, versement du salaire, déclarations sociales...)</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-magic" aria-hidden="true"></i> Profitez d'avantages sociaux
          <p>En portage vous dépendez du régime général et vous avez donc droit aux même avantages qu'un salarié : une mutuelle, une prévoyance et le bénéfice de l'assurance chômage lorsque vous n'avez pas de mission. Vous bénéficiez également de notre responsabilité civile professionnelle.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-coffee" aria-hidden="true"></i> Faîtes vous accompagner
          <p>Nous connaissons les difficultés pour se lancer, c'est pourquoi nous vous acompagnons dans le développement de votre activité. Nous vous aidons à fixer votre tarif, à trouver des missions et organisons des ateliers de formations (prospection commerciale, visibilité online...)</p>
        </div>
      </div>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <i class="fa fa-star" aria-hidden="true"></i> Développez votre marque
          <p>Se présenter au nom d'une société renforcera votre proposition de valeur et crédibilisera votre action. Cela vous aidera plus facilement à approcher vos prospects et à vous faire référencer aurpès de vos clients grand comptes.</p>
        </div>
        <div class="col-xs-12 col-sm-4 ">
          <i class="fa fa-plug" aria-hidden="true"></i> Intégrez un réseau
          <p>Intégrer le réseau Embarq signifie rencontrer des professionnels qui ont les mêmes problématiques que vous, développer votre visibilité et adhérer à nos valeurs : l'éthique et la bienveillance. </p>
        </div>
      </div>
    </div>
  </div>
</div>
