<div id="portage">
  <div class="wrapper-white">
    <div class="container padded">
      <h2 class="text-center">Notre mission</h2>
      <h5 class="text-center">Démocratisez une nouvelle façon de travailler.</h5>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-6">
           <h4>Notre volonté est de faciliter l'accès au statut d'indépendant en accompagnant chaque consultant/freelance dans le lancement et le développement de son activité.</h4>
         <h4>EMBARQ est une société de portage salarial dont
         <br> l'ambition principale est de véhiculer les valeurs
         <br> défendues par ses co-fondateurs: l'éthique, la <br>bienveillance et le sens du service.</h4>

        </div>
        <div class="col-xs-12 col-sm-6">
          <strong>La co-construction au coeur de notre démarche</strong>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quod, dolores odit quibusdam eveniet earum pariatur quasi veritatis assumenda dignissimos beatae nam asperiores repudiandae amet ducimus, ullam similique blanditiis vitae.


        </div>


      </div>


    </div>
  </div>

  <div class="wrapper-grey padded">
    <div class="container">
      <h3 class="text-center">Les 5 raisons de travailler avec Embarq</h2>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-calendar" aria-hidden="true"></i> Gagnez du temps
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste dolorem veritatis, cupiditate cumque quo, impedit a, tempora eaque nihil reiciendis. Quam quas labore dolor ab fugiat, illo a eius.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-magic" aria-hidden="true"></i> Profitez d'avantages sociaux
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsam nam odit esse veritatis! Earum quia aspernatur esse quo culpa, labore fuga doloremque, iusto tempora, magnam suscipit ad adipisci ut.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-coffee" aria-hidden="true"></i> Faîtes vous accompagner
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, est, perspiciatis? Dolorum, quos debitis, tempora unde magnam blanditiis. Sed earum doloremque aut, ex doloribus animi excepturi debitis, est odit. Perferendis.</p>
        </div>
      </div>
      <div class="row padded-top">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <i class="fa fa-star" aria-hidden="true"></i> Développez votre marque
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore earum consequatur neque sapiente dolore praesentium minus nam minima officia asperiores ratione impedit quo aspernatur dolores ut, voluptates quaerat illum.</p>
        </div>
        <div class="col-xs-12 col-sm-4 ">
          <i class="fa fa-plug" aria-hidden="true"></i> Intégrez un réseau
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam eum a possimus fuga voluptate earum non exercitationem laudantium totam modi, ea ullam illum, incidunt eos quibusdam, dolore est nihil provident!</p>
        </div>

      </div>

    </div>
  </div>
</div>
