<head>

<title>
Contact Embarq
</title>

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="generator" content="Wufoo">
<meta name="robots" content="index, follow">

<!-- CSS -->

<!-- JavaScript -->
<script src="javascripts/wufoo_script.js"></script>

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<div class="wrapper-grey">
  <div class="container padded">
    <h2 class="text-center">Contactez-nous</h2>
    <h5 class="text-center">Vous souhaitez plus d'informations sur nos services ou venir boire un café ? <br>On vous répond dans l'heure !</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
              action="//embarq.wufoo.com/forms/m1ka8ptr1pq48wv/#public">
        <div class="row">
          <div class="col-xs-6">
            <li id="foli6" class="notranslate      ">
            <label class="desc" id="title6" for="Field6">
            Prénom
            <span id="req_6" class="req">*</span>
            </label>
            <div>
            <input id="Field6" name="Field6" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required placeholder="" />
            </div>
            </li>
          </div>
          <div class="col-xs-6">
            <li id="foli7" class="notranslate      ">
            <label class="desc" id="title7" for="Field7">
            Nom
            <span id="req_7" class="req">*</span>
            </label>
            <div>
            <input id="Field7" name="Field7" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup=""       required placeholder="" />
            </div>
            </li>
          </div>
        </div>
        <ul>

        <li id="foli3" class="notranslate      ">
        <label class="desc" id="title3" for="Field3">
        Email
        <span id="req_3" class="req">*</span>
        </label>
        <div>
        <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       placeholder="" required />
        </div>
        </li>
        <li id="foli4" class="notranslate      ">
        <label class="desc" id="title4" for="Field4">
        Téléphone
        <span id="req_4" class="req">*</span>
        </label>
        <div>
        <input id="Field4" class="field text medium" name="Field4" tabindex="4" required placeholder="" type="tel" maxlength="255" value="" />
        </div>
        </li>
        <li id="foli5" class="notranslate      ">
        <label class="desc" id="title5" for="Field5">
        Ville
        <span id="req_5" class="req">*</span>
        </label>
        <div>
        <input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="5" onkeyup=""       required placeholder="" />
        </div>
        </li>
        <li id="foli9" class=" notStacked     ">
        <fieldset>
        <![if !IE | (gte IE 8)]>
        <legend id="title9" class="desc notranslate">
        Vous êtes intéressé par :
        </legend>
        <![endif]>
        <!--[if lt IE 8]>
        <label id="title9" class="desc">
        Vous êtes intéressé par :
        </label>
        <![endif]-->
        <div>
        <span class="subfield">
        <input id="Field9" name="Field9" type="checkbox" class="field checkbox" value="Portage" tabindex="6"     />
        <label class="choice" for="Field9">
        <span class="choice__text notranslate" >Portage</span>
        <span class="choice__qty">
        </span>
        </label>
        </span>
        <span class="subfield">
        <input id="Field10" name="Field10" type="checkbox" class="field checkbox" value="Simulation" tabindex="7"     />
        <label class="choice" for="Field10">
        <span class="choice__text notranslate" >Simulation</span>
        <span class="choice__qty">
        </span>
        </label>
        </span>
        <span class="subfield">
        <input id="Field11" name="Field11" type="checkbox" class="field checkbox" value="Mission" tabindex="8"     />
        <label class="choice" for="Field11">
        <span class="choice__text notranslate" >Mission</span>
        <span class="choice__qty">
        </span>
        </label>
        </span>
        <span class="subfield">
        <input id="Field12" name="Field12" type="checkbox" class="field checkbox" value="Conseil" tabindex="9"     />
        <label class="choice" for="Field12">
        <span class="choice__text notranslate" >Conseil</span>
        <span class="choice__qty">
        </span>
        </label>
        </span>
        </div>
        </fieldset>
        </li> <li class="buttons ">
        <div>

        <input id="saveForm" name="saveForm" class="btTxt submit"
            type="submit" value="Submit"/>
        </div>
        </li>

        <li class="hide">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="XvGmQkrpkvxd1gEMd2YbCI3FYt03EWNqQqjjXs73CpY=" />
        </li>
        </ul>
        </form>
      </div>
    </div>
  </div>
</div>
